pipeline/pip_cd_sql_lookup_tables.json
{
	"name": "pip_cd_sql_lookup_tables",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select table_name from INFORMATION_SCHEMA.TABLES where table_schema = '@{pipeline().parameters.shema_par}' and TABLE_TYPE = 'BASE TABLE';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_gen",
						"type": "DatasetReference",
						"parameters": {
							"ds_name_table": "Product",
							"ds_schema_table": "salesLT"
						}
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": []
						}
					]
				}
			}
		],
		"parameters": {
			"shema_par": {
				"type": "string",
				"defaultValue": "salesLT"
			},
			"table_par": {
				"type": "string"
			}
		},
		"annotations": []
	}
}